# Archivos y directorios generados por Eclipse
.classpath
.project
.settings/

# Archivos y directorios generados por Maven
target/
/bin/

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales de otros editores
*.swp
*.swo
*~
*.log

# BD Derby
DB_Game/
*.log

exampleDBJPA/